$primary-color: #6a5acd;
$secondary-color: #eaeef7;
$text-color: #333333;
$background-color: #fff0f0;
$white-color: #fbfbff;

$font-family: 'Open Sans', sans-serif;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;
